.container {
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  padding: 1rem 2rem;
}

.container.blue {
  background-color: var(--blue-1);
}

.container.orange {
  background-color: var(--orange-1);
}

.container:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}