.container {
  background-color: var(--blue-1);
  overflow: auto;
  min-width: 300px;
  position: absolute;
  z-index: 2;
  padding: 1rem;
}

.container > ul {
  list-style: none;
  width: 100%;
}

.container > ul > li {
  width: 100%;
}

.container > ul > li  div {
  height: 50px;
  border-radius: 5px;
  background-color: #ffffff20;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  transition: 0.2s;
}

.container > ul > li  div:hover {
  background-color: #ffffff62;
}