.desiredValue {
  max-width: 770px;
  display: grid;
  grid-template-areas: 'title title' 'input button';
  grid-template-columns: 1fr 10rem;
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
  margin: auto;
  margin-top: 4rem;
}

.desiredValue > .title {
  grid-area: title;
  text-align: center;
  color: var(--blue-1);
  font-size: 2.7rem;
}

/* Formulário para selecionar a tabela e a parcela */

.desiredTableAndInstallment {
  margin: 4rem auto 90px;
}

.desiredTableAndInstallment > .inputContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--gray-1);
  border-radius: 5px;
}

.desiredTableAndInstallment > .inputContainer > input {
  margin: auto;
}

.tableAndInstallmentInfo {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;

  display: flex;
  align-items: center;

  background-color: var(--blue-1);
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.tableAndInstallmentInfo > .content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: min(80%, 1300px);
  margin: auto;
}

.tableAndInstallmentInfo > .content > .info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}