/* Define variáveis de cores (paleta) */
:root {
  --blue-1: #228a95;
  --blue-2: #187680;
  --blue-3: #E8F3F4;
  --orange-1: #ef9c4b;
  --orange-2: #fd8030;
  --font: #777;
  --font-2: #484646;
  --background: #f8f8f8;
  --gray-1: #e6e6e6;
  --yellow-1: #EFDF4B;
  --yellow-1-opaque: #efdf4b3b;
  --green-1: #E8FFE3;
  --green-2: #31AC2B;
  --red: #BC3434;
  --red-2: #9b2b2b;
}

/* Remove margin e padding de todos os elementos e seta box-sizing como border-box (facilita a estilização individual) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Da uma reduzida no tamanho da fonte - e do rem - conforme tamanho da tela */
@media (max-width: 1440px) {
  :root {
    font-size: 93.75%;
  }
}

@media (max-width: 1080px) {
  :root {
    font-size: 87.5%;
  }
}

@media (max-width: 750px) {
  :root {
    font-size: 81.25%;
  }
}

/* Seta a fonte padrão do site */
body {
  font: 400 1rem "Flexo", Arial, Helvetica, sans-serif;
}

input,
textarea,
button {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}